york_pic32mz_uac2_osfw.X/build/
york_pic32mz_uac2_osfw.X/debug/
york_pic32mz_uac2_osfw.X/dist/
york_pic32mz_uac2_osfw.X/queuelogs/
york_pic32mz_uac2_osfw.X/.generated_files
york_pic32mz_uac2_osfw.X/*.log*